@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #ffffff;
  color: #171717;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilos para o modo escuro */
body.darkmode {
  background-color: #161616;
}

/* Personalização do Navbar para ficar com fundo separado */
.navbar-light {
  background-color: #f8f9fa;
  /* Cor clara para o Navbar */
}

.navbar-dark {
  background-color: #1B1B1B;
  /* Cor escura para o Navbar */
}

.subletitle-dark{
  color: gray;
}

html,
body {
  width: 100%;
  height: 100%;
}

div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-container {
  width: 75%;
  /* A largura da Navbar */
}

.main {
  display: flex;
  align-items: center;
  height: auto;
}

.title {
  font-size: 44px;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

.subletitle {
  font-family: "IBM Plex Mono", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

.textbutton{
  font-family: "IBM Plex Mono", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work {
  width: 75% !important; /* Força a largura a ser aplicada */
}

@media only screen and (max-width: 800px) {
  main {
    flex-direction: column;
    height: auto;
  }
  
  .work {
    display: flex;
    width: 100% !important; /* Força a largura a ser aplicada */
  }

  .container{
    height: fit-content;
  }

  .myimage{
    height: 50%;
  }

  .childmain{
    flex-direction: column-reverse;
    height: auto;
  }

  .childmain .container{
    align-items: center;
    text-align: center;
  }

  .title{
    width: 100%;
    text-align: center;
    justify-content: center !important;
    margin-top: 4.5%;
    font-size: 160%;
    width: min-content;
    white-space: nowrap;
    align-items: center;
  }
}